html, body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.img {
    border-radius: 10px;
    max-height: 60vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.around-space {
  padding: 20px;
}

nav {
  box-shadow: 0 0 170px #2C89A070;
}

footer {
  padding: 50px 0;
  overflow: hidden;
}

.rmcss{
  border:none;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

body {
  margin: 0;
}

.rgrid {
  display: flex;
  width: 100%;
}

.rgrid-col {
  flex-grow: 1;
  flex-basis: 0;
}

.rgrid-col:nth-child(2), .rgrid-col:nth-child(3) { display: none }
.rgrid-col:nth-child(1), .rgrid-col:nth-child(2), .rgrid-col:nth-child(3) { display: none }

@media ( min-width: 992px ) {
  .rgrid-col:nth-child(1) { display: block; } /* show column 2 */
}

@media ( min-width: 1200px ) {
  .rgrid-col:nth-child(2) { display: block; } /* show column 3 */
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.username {
  color: #2C89A0 !important;
}
.danger-text {
  color: #C82E2E !important;
}
.warning-text {
  color: #AFA447 !important;
}
.green-text {
  color: #58AC41 !important;
}
.dim-text {
  color: #606060 !important;
}

a { text-decoration: none; }

.card {
  border-radius: 21px;
  box-shadow: 0px 5px 15px #00000040;
  display: block;
  overflow:hidden;
  border: none;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #2C89A0;
  color: #FFFFFF;
}

.card-header-2 {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgb(94, 94, 94);
  color: #FFFFFF;
  text-align: center;
}


.card-tekstas {
  margin-bottom: 0px;
}

.card-komentaras {
  margin-top: 30px;
}



a:link {
  color: #2C89A0;
}

/* visited link */
a:visited {
  color: #2C89A0;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #2C89A0;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #1C3358;
  text-decoration: none;
}


.btn {
  border-radius: 100px;
  box-shadow: 0px 5px 5px #00000040;
  margin: 3px;
  color: #FFFFFF  !important;
  border: none !important;
  text-decoration: none !important;
}

.btn:focus {
  border-radius: 100px;
  box-shadow: 0px 5px 5px #00000040 !important;

}

.btn-primary {
  background-color:#2C89A0  !important;
  color: #FFFFFF  !important;
}
.btn-primary:hover {
  background-color:#2EBAB9 !important;
  color: #FFFFFF  !important;
}
.btn-primary:active {
  background-color:#2EBAB9 !important;
  color: #FFFFFF  !important;
}

.btn-secondary {
  background-color:#6C757D  !important;
  color: #FFFFFF  !important;
}
.btn-secondary:hover {
  background-color:#848B90 !important;
  color: #FFFFFF  !important;
}
.btn-secondary:active {
  background-color:#848B90 !important;
  color: #FFFFFF  !important;
}

.btn-danger {
  background-color:#C82E2E  !important;
  color: #FFFFFF  !important;
}
.btn-danger:hover {
  background-color:#EE3A32 !important;
  color: #FFFFFF  !important;
}
.btn-danger:active {
  background-color:#EE3A32 !important;
  color: #FFFFFF  !important;
}

.btn-green {
  background-color:#58AC41  !important;
  color: #FFFFFF  !important;
}
.btn-green:hover {
  background-color:#438E2F !important;
  color: #FFFFFF  !important;
}
.btn-green:active {
  background-color:#438E2F !important;
  color: #FFFFFF  !important;
}

.btn-link {
  background-color:#6C757D  !important;
  color: #FFFFFF  !important;
}
.btn-link:hover {
  background-color:#848B90 !important;
  color: #FFFFFF  !important;
}
.btn-link:active {
  background-color:#848B90 !important;
  color: #FFFFFF  !important;
}

input, textarea {
  box-shadow: 0px 5px 5px #00000040 !important;
  border-radius: 18px !important;
}

.btn-above{

  position:absolute;
  top: 27px;
  right: 20px;
}
.centras{
text-align:center;
}